[submodule "src/gardens/settings"]
	path = src/gardens/settings
	url = https://github.com/thoughtforms/settings
[submodule "src/gardens/docs"]
	path = src/gardens/docs
	url = https://github.com/thoughtforms/docs
[submodule "modules/handsfree"]
	path = modules/handsfree
	url = https://github.com/ThoughtformElf/handsfree
