main, .cm-editor {
  height: 100%;
  width: 100%;
}
.cm-editor { background-color: var(--color-dark-L1); }
.cm-diff-inserted {
  background-color: var(--color-syntax-diff-add-bg);
}
.cm-diff-deleted {
  background-color: var(--color-syntax-diff-del-bg);
  text-decoration: line-through;
}
.cm-vim-panel input {
  color: var(--color-light-L0);
}
.cm-wikilink {
  background-color: var(--color-syntax-wikilink-bg);
  color: var(--color-syntax-wikilink-text) !important;
  border-radius: 3px;
  padding: 0 2px;
}
.cm-hashtag {
  background-color: var(--color-syntax-hashtag-bg);
  color: var(--color-syntax-hashtag-text) !important;
}
.cm-checkbox-todo {
  background-color: var(--color-syntax-checkbox-todo-bg);
  color: var(--color-syntax-checkbox-todo-text) !important;
}
.cm-checkbox-done {
  background-color: var(--color-syntax-checkbox-done-bg);
  color: var(--color-syntax-checkbox-done-text) !important;
}
.cm-checkbox-doing {
  background-color: var(--color-syntax-checkbox-doing-bg);
  color: var(--color-syntax-checkbox-doing-text) !important;
}
.cm-timestamp {
  color: var(--color-accent-red) !important;
  font-weight: bold;
}
.cm-naked-link {
  background-color: var(--color-syntax-link-bg);
  color: var(--color-syntax-link-text) !important;
  border-radius: 3px;
  padding: 0 2px;
}
.cm-blockquote {
  color: var(--color-syntax-blockquote-text) !important;
}
