.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: var(--color-background-overlay);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.modal-overlay.hidden {
  opacity: 0;
  pointer-events: none;
}
.modal-container {
  background: var(--base-dark);
  color: var(--color-text-primary);
  border: 1px solid var(--base-interactive);
  min-width: 300px;
  max-width: 80%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  flex-grow: 0; flex-shrink: 1;
}
.modal-header {
  padding: 1rem;
  padding-bottom: 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.modal-content {
  padding: 1rem;
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.25rem;
  overflow-y: auto;
  word-break: break-all;
}
.modal-content label {
  display: block;
  margin: 0.5rem 0;
  cursor: pointer;
}
.modal-footer {
  padding: 1rem;
  text-align: right;
  background-color: var(--color-background-primary);
}
.modal-footer button {
  padding: 0.5rem 1rem;
  background-color: var(--color-action-primary-bg);
  color: var(--color-text-on-accent);
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-right: .5rem;
}
.modal-footer button:hover { background-color: var(--color-action-primary-hover); }
.modal-footer button.destructive {
  background-color: var(--color-action-destructive-bg);
  color: var(--color-text-on-destructive);
}
.modal-footer button.destructive:hover { background-color: var(--color-action-destructive-hover); }
