/* ===== CONSOLE TAB ===== */
html #eruda-console .eruda-control {
  background: var(--base-dark);
  border-bottom: none;
  height: auto;
  padding-left: 2rem;
}

html #eruda-console .eruda-control .eruda-active {
  background: var(--base-accent-destructive) !important;
}

html .eruda-container .luna-console {
  background: var(--base-dark);
}

html #eruda-console .eruda-js-input,
html #eruda-console .eruda-js-input textarea {
  background: var(--base-dark);
  color: var(--color-text-primary);
}

html #eruda-console .eruda-js-input .eruda-icon-arrow-right {
  color: var(--base-accent-destructive);
}

html #eruda-console .eruda-js-input {
  border-top: 1px solid var(--color-border-secondary);
}

html .eruda-container .luna-console-log-item .luna-console-count {
  background: var(--base-accent-info);
  color: var(--base-dark);
  font-weight: bold;
  padding: 0 0.5rem;
  padding-top: 0.2rem;
}

/* Console Control Icons */
#eruda-console .eruda-control [class*=" eruda-icon-"], 
#eruda-console .eruda-control [class^=eruda-icon-] {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

html #eruda-console .eruda-control .eruda-icon-copy {
  right: 0.5rem;
  display: inline-block;
}

html #eruda-console .eruda-control .eruda-icon-filter {
  right: 2.5rem;
}

html #eruda-console .eruda-control .eruda-icon-clear {
  margin-right: 1rem;
  display: inline-block;
}

html #eruda-console .eruda-control .eruda-level {
  font-size: 1rem;
  line-height: 1.5rem;
  height: auto;
}

.eruda-level {
  margin-right: 0.5rem !important;
}

html .eruda-container .luna-console-log-item {
    border-bottom-color: var(--color-border-secondary);
}