/* ===== RESOURCES TAB ===== */
html .eruda-dev-tools .eruda-tools {
  background: var(--base-dark);
}

html #eruda-resources .eruda-section.eruda-cookie .eruda-title, 
html #eruda-resources .eruda-section.eruda-local-storage .eruda-title, 
#eruda-resources .eruda-section.eruda-session-storage .eruda-title,
html #eruda-resources .eruda-title {
  background: var(--base-dark);
  border-bottom: none;
  color: var(--color-text-primary);
}

html .eruda-container .luna-data-grid .luna-data-grid-data-container tr:nth-child(even) {
  background: var(--base-dark);
  border-bottom: 1px solid var(--base-text-muted) !important;
}

html #eruda-resources .eruda-section,
html #eruda-resources .eruda-image-list li,
html .eruda-container .luna-data-grid,
html #eruda-resources .eruda-section.eruda-cookie .eruda-title, 
html #eruda-resources .eruda-section.eruda-local-storage .eruda-title, 
html #eruda-resources .eruda-section.eruda-session-storage .eruda-title {
  border-color: var(--color-border-secondary);
}

html #eruda-resources .eruda-link-list {
  color: var(--color-text-primary);
}

html #eruda-resources .eruda-link-list li a {
  color: var(--base-accent-info) !important;
}

html .eruda-container .luna-data-grid .luna-data-grid-data-container .luna-data-grid-node.luna-data-grid-selectable:hover, 
html .eruda-container .luna-data-grid .luna-data-grid-data-container .luna-data-grid-node.luna-data-grid-selected {
  background: var(--base-accent-destructive);
}

/* Data Grid Styles */
html .eruda-container .luna-data-grid th {
  background: var(--base-interactive);
}

html .eruda-container .luna-data-grid td, 
html .eruda-container .luna-data-grid th {
  border-color: var(--color-border-secondary);
  padding: 0.5rem;
}

html .luna-data-grid-data-container {
  background: var(--base-dark);
}

html .luna-data-grid th .luna-data-grid-icon-caret-down, 
html .luna-data-grid th .luna-data-grid-icon-caret-up {
  font-size: 1rem;
}

html .luna-data-grid-header-container {
  height: auto;
}

html #eruda-resources .luna-data-grid-data-container {
  min-height: 200px !important;
  height: auto !important;
  max-height: 500px !important;
}
